<div style="display: flex; justify-content: center;" data-ng-controller='orgActCtrl'>
    <div style="width: 1200px; background-color: white; height: 1000px ;text-align: center;    box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.1);">
        <div style=" height: 40px "></div>
        <table class="table table-hover" >
            <thead>
            <tr>
                <th>活动名称</th>
                <th>举办地点</th>
                <th>报名时间</th>
                <th>举办时间</th>
                <th>报名人数</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody style="font-size: 11px">
            <tr data-ng-repeat="activity in activities">
                <td>{{activity.name}}</td>
                <td>{{activity.address}}</td>
                <td>{{activity.signTime}}--{{activity.endSignTime}}</td>
                <td>{{activity.startTime}}--{{activity.endTime}}</td>
                <td>{{activity.engage.length}}</td>
                <td ng-show="activity.state.detail!='审核不通过'">{{activity.state.detail}}</td>
                <td ng-show="activity.state.detail=='审核不通过'" style="color: red">{{activity.state.detail}}</td>
                <td>
                    <div>
                        <button class="btn  btn-info spx" style="margin-right: 5px;" data-ng-click="showDetail(activity)">详情</button>
                        <button class="btn  btn-primary spx" ng-show='activity.state.detail=="审核不通过"' data-ng-click="reApply()">重新申请</button>
                        <button class="btn  btn-primary spx" ng-show='activity.state.state==2000' data-ng-click="organize(activity.id,5000)">举办</button>
                        <button class="btn  btn-primary spx" ng-show='activity.state.state==5000' data-ng-click="organize(activity.id,4000)">举办完成</button>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
        <div style="padding-right: 20px;"><paging conf="paginationConf"></paging></div>
    </div>
</div>
