<div class="modal-header">
    <h3 class="modal-title">填写信息</h3>
</div>
<div class="modal-body">
    <div id="" class="trade">
        <span>提出申请后，管理员会在几个工作日内重置密码。</span>
    </div>
    <div id="act_head" class="trade">
        <span class="row-4 trade-label">学号或者编号：</span>
        <div class="row-5"><input type="text" class="input row-5" data-ng-model="user.id"></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()">
        确认
    </button>
</div>