<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <!--&lt;!&ndash; 静态资源支持 &ndash;&gt;-->
    <!--<security:http pattern="/js/**" security="none"/>-->
    <!--<security:http pattern="/images/**" security="none"/>-->
    <!--<security:http pattern="/mgmt/**" security="none"/>-->
    <!--<security:http pattern="/image_sys/**" security="none"/>-->
    <!--<security:http pattern="/style/**" security="none"/>-->
    <!--<security:http pattern="/view/login.jsp" security="none"/>-->
    <!--<security:http pattern="/view/login/forgotPassword.jsp" security="none"/>-->
    <!--<security:http pattern="/securityCodeImage.html" security="none"/>-->
    <!--<security:http pattern="/checkSecurityCode.html" security="none"/>-->
    <!--<security:http pattern="/admin/validateMobile.html" security="none"/>-->
    <!--<security:http pattern="/verifycode/sendVerifyCode.html" security="none"/>-->
    <!--<security:http pattern="/admin/resetPassword.html" security="none"/>-->
    <security:http pattern="/user/login" security="none"/>

    <security:http pattern="/**" auto-config="false">
        <security:session-management invalid-session-url="/sessionTimeout"></security:session-management>
        <security:logout delete-cookies="JSESSIONID" logout-success-url="/login.html" logout-url="/logout.do"/>
        <security:form-login login-page="/login.html" login-processing-url="/login.do" username-parameter="username"
                             password-parameter="password" authentication-success-handler-ref="authSuccess"
                             authentication-failure-handler-ref="authFailure"></security:form-login>
        <security:http-basic/>
        <!--开放login界面-->
        <security:intercept-url pattern="/login.html" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/login_failure.html" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
    </security:http>

    <!--启用@PreAuthorize等注解-->
    <security:global-method-security pre-post-annotations="enabled"></security:global-method-security>

    <security:authentication-manager>
        <security:authentication-provider ref="authenticationProvider">
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="authSuccess" class="authority.AuthenticationSuccessHandlerImpl"/>
    <bean id="authFailure" class="authority.AuthticationFailureHandlerImpl"/>
    <bean id="authenticationProvider" class="authority.DemoAuthenticationProvider"/>
</beans>