<meta charset="UTF-8">
<!-- <div class="footer">
	<a class="string "> <strong>主页</strong></a> 
	<a class="string p2"><strong>联系我们</strong>	</a> 
	<a class="string p3" ><strong>帮助</strong></a> 
	<a class="string p4"><strong>关于</strong></a>
	
	<img class="img" src="../../images/icon/qq.png" alt="qq">
	<img class="img" src="../../images/icon/qq_space.png" alt="qq_space">
	<img class="img" src="../../images/icon/circle_of_friends.png" alt="circle_of_friends">
	<img class="img" src="../../images/icon/wechat.png" alt="wechat">
	<img class="img" src="../../images/icon/qq_weibo.png" alt="qq_webo">
	<img class="img" src="../../images/icon/weibo.png" alt="weibo">
	<img class="img" src="../../images/icon/taobao.png" alt="taobao">
</div> -->
<div class="rights">
活动中心
</div>