<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--<meta name="_csrf" content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" content="${_csrf.headerName}"/>-->
    <title>活动管理中心</title>
    <link rel="stylesheet" type="text/css" href="browser/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="browser/style/main.css">
    <link rel="stylesheet" type="text/css" href="browser/style/media.css">
    <link rel="stylesheet" type="text/css" href="browser/assets/css/bootstrap-datetimepicker.min.css">

</head>
<body data-ng-app="activities">
<section data-ng-include=" 'browser/views/nav.html' " id="nav"
         class=""></section>
<container>
    <div id="content" class="container" style="margin-top: 60px;" data-ng-class="">
        <!-- <section data-ng-view class=""></section> -->
    </div>
    <ng-view></ng-view>
</container>
<script type="text/javascript" src="browser/assets/js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="browser/assets/js/jquery.form.js"></script>
<script type="text/javascript" src="browser/script/underscore-min.js"></script>
<script type="text/javascript" src="browser/script/angular.min.js"></script>
<script type="text/javascript" src="browser/script/angular-cookies.js"></script>
<script type="text/javascript" src="browser/script/angular-resource.js"></script>
<script type="text/javascript" src="browser/script/app.module.js"></script>
<script type="text/javascript" src="browser/script/core/constants.js"></script>
<script type="text/javascript" src="browser/script/directive/directive.js"></script>
<script type="text/javascript" src="browser/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="browser/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="browser/assets/js/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="browser/assets/js/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="browser/assets/js/angular-file-upload.min.js"></script>
<!-- 滑动加载 -->
<script type="text/javascript" src="browser/script/ng-infinite-scroll.min.js"></script>
<script type="text/javascript" src="browser/script/angular-route.min.js"></script>
<script type="text/javascript" src="browser/script/angular-animate.min.js"></script>
<!--interceptor-->
<script type="text/javascript" src="browser/script/services/interceptor/csrfInterceptor.js"></script>
<!--config-->
<script type="text/javascript" src="browser/script/core/config.js"></script>

<!--data-picker-->
<script type="text/javascript" src="browser/assets/js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="browser/assets/js/bootstrap-datetimepicker.min.js"></script>

<!-- core -->
<script type="text/javascript" src="browser/script/services/activitiesResource.js"></script>

<!-- service -->
<script type="text/javascript" src="browser/script/services/activities/activitiesService.js"></script>
<script type="text/javascript" src="browser/script/services/permission/permission.js"></script>
<script type="text/javascript" src="browser/script/services/messageService.js"></script>
<script type="text/javascript" src="browser/script/services/showModal/modalService.js"></script>
<script type="text/javascript" src="browser/script/services/actOperateService.js"></script>


<!-- controller -->
<script type="text/javascript" src="browser/script/controllers/activities/activitiesCtrl.js"></script>
<script type="text/javascript" src="browser/script/controllers/user/loginCtrl.js"></script>
<script type="text/javascript" src="browser/script/controllers/nav/navCtrl.js"></script>
<script type="text/javascript" src="browser/script/controllers/activities/actDetailCtrl.js"></script>
<script type="text/javascript" src="browser/script/controllers/activities/createActCtrl.js"></script>
<script type="text/javascript" src="browser/script/controllers/activities/checkActCtrl.js"></script>
<script type="text/javascript" src="browser/script/controllers/registe/registeCtrl.js"></script>
<script type="text/javascript" src="browser/script/controllers/messageCtrl.js"></script>
<script type="text/javascript" src="browser/script/controllers/registe/iconCtrl.js"></script>
<script type="text/javascript" src="browser/script/controllers/org-act/org-actCtrl.js"></script>
<script type="text/javascript" src="browser/script/controllers/org-act/orgActDetailCtrl.js"></script>
</body>
</html>