<nav id="nav" class="nav" style="" data-ng-controller="navCtrl">
	<div style="width:500px;
    padding-top: 10px;
    float: left;
    font-size: 30px;
    color: #8971D0;
    text-align: center;"><label style="font-family: 'Source Sans Pro', sans-serif ;">校园活动发布平台</label></div>
	<ul class="nav-ul">
		<li><a href="#/allAct/allAct">首页</a></li>
		<li has-login="login"><a data-ng-click="showModal()" >登陆</a></li>
		<li has-login="login"><a href="#/registe/registe">注册</a></li>
		<li has-permission="organization"><a href="#/createAct/create" >创建活动</a></li><!-- has-permission="机构" --><!--has-permission="organization"-->
		<li has-permission="organization"><a href="#/org-act/org-act">活动记录</a></li><!--has-permission="organization"-->
		<li has-permission="admin"><a href="#/checkAct/check" >审批活动</a></li>
		<!--<li has-permission="admin"><a href="#/registe/registe">重置密码</a></li>-->
		<li has-permission="student"><a href="#/stuAct/stuAct">活动记录</a></li>
		<li has-permission="student"><a href="#/registe/registe">更改信息</a></li>

		<li has-login="logout"><a data-ng-click="logOut()" >注销</a></li>
		<li>
			<div class="search-box" >
				<input type="text" name="" style="">
				<a style=" ">
					<i style=""></i>
				</a>
			</div> 
		</li>
</ul>
	<!--<div style="display:inline-block;"><img style="width: 50px;height: 50px;border-radius: 25px;" src="../images/default.jpg"><label>啊哈哈</label></div>-->
</nav>
<script type="text/ng-template" id="logoutConfirm.html">
    <div class="modal-header" >
        <h3 class="modal-title">退出当前登录？</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="logOut()">
            确认
        </button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>
