<div style="display: flex; justify-content: center;" data-ng-controller='registeCtrl'>
	<div style="width: 700px; background-color: white; height: 1000px ;text-align: center;">
		<div class="trade" style="margin-top: 20px;">
			<label class="trade-label row-5" style="color: #9a9a9a;">完善你的个人信息</label>
		</div>
		<div class="trade">
			<label class="trade-label row-3">学号</label>
			<div class="row-6">
				<input class="input" >
			</div>
		</div>
		<div class="trade">
			<label class="trade-label row-3">姓名</label>
			<div class="row-6">
				<input class="input" id="name" placeholder="">
			</div>
		</div>
		<div class="trade">
			<label class="trade-label row-3">性别</label>
			<div class="row-6">
				<input type="radio" name="sex" value="male">男生
				<input type="radio" name="sex" value="female">女生

			</div>
		</div>
		<div class="trade">
			<label class="trade-label row-3">电话</label>
			<div class="row-6">
				<input class="input" id="phone" placeholder="">
			</div>
		</div>

		<div class="trade">
			<label class="trade-label row-3">密码</label>
			<div class="row-6">
				<input class="input" id="password" placeholder="" type="password">
			</div>
		</div>
		<div class="trade">
			<label class="trade-label row-3">确认密码</label>
			<div class="row-6">
				<input class="input" placeholder="" type="password">
			</div>
		</div>
		<div class="trade">
			<label class="trade-label row-3">专业</label>
			<div class="row-6">
				<input class="input">
			</div>
		</div>
		<div class="trade">
			<label class="trade-label row-3">班级</label>
			<div class="row-6">
				<input class="input">
			</div>
		</div>
		<div class="trade">
			<label class="trade-label row-3">学院</label>
			<div class="row-6">
				<input class="input">
			</div>
		</div>
		<div class="row-8" style="margin: 0 auto;">
			<hr>
		</div>
		
		<div style="margin: 0 auto;text-align: center;">
			<button class="btn btn-success" style="width: 50px;">提交</button>
		</div>
	</div>
</div>
