<div class="modal-header">
    <h3 class="modal-title">活动详情</h3>
</div>
<div class="modal-body">
    <div id="act_head" class="trade">
        <img class="icon" src={{activity.organization.icon}}  onerror="this.src='browser/images/icon/10001.jpg'">
        <h2>{{activity.organization.name}}</h2>
        <div class="row-7" style="text-align: right;">
            <button class="btn btn-info" style=" width: 30px;    height: 20px;    margin-top: 10px;">报名</button>
            <label style="display: none;">已报名</label>
        </div>
    </div>

    <div id="act_nav" class="trade" style="flex-direction: column;">
        <h3>{{activity.name}}</h3>
        <div><h4>报名时间:{{activity.signTime}}--{{activity.endSignTime}}</h4></div>
        <div><h4>活动时间:{{activity.startTime}}--{{activity.endTime}}</h4></div>
    </div>

    <div id="act_deltail" class="trade" style="flex-direction: column;">
        <p>{{activity.detail}}</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">
        返回
    </button>
</div>