	<div id="activities" data-ng-controller="activitiesCtrl" class="activities">
			<div infinite-scroll="activitiesScroll.doScroll()" infinite-scroll-disabled="activitiesScroll.busy" infinite-scroll-distance='0' infinite-scroll-immediate-check="true" >
				<div data-ng-repeat="activity in activitiesScroll.items" class="act-block" data-ng-click="showDetail(activity)" style="box-shadow: 0px 0px 5px lightslategrey;">
					<img ng-src="{{activity.photo[0]}}" alt="photo not fund" onerror="this.src='browser/images/default.jpg'">
					<p>{{activity.name}}</p>
					<p>报名截止：</p>
					<p>{{activity.endSignTime}}</p>
				</div>
			</div>
	</div>