<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>艾米go</title>
</head>
<body>

<div data-ng-app="index" >
<input type="button" data-ng-click="upload()" value="upload"> 
</div>
<script type="text/ng-template" id="location.html">
<div>
<ul>
<li>Click here</li>
<li>Click here</li>
<li>{{message}}</li>
</ul>
</div>

</script>
<script type="text/javascript" src="../script/controllers/indexCtrl.js"></script>
	<script type="text/javascript" src="../script/angular.min.js"></script>
</body>
</html>