<div class="modal-header">
    <h3 class="modal-title">组织详情</h3>
</div>
<div class="modal-body">
    <div id="act_head" class="">
        <img class="icon" ng-src={{org.icon}} onerror="this.src='browser/images/icon/10001.jpg'">
        <h2 style="display: inline-block">{{org.name}}</h2>
    </div>

    <div id="act_nav" class="trade" style="flex-direction: column;">
        <h3>{{org.name}}</h3>
        <div><h4>编号：{{org.id}}</h4></div>
        <div><h4>电话：{{org.phone}}</h4></div>
        <div><h4>邮箱：{{org.mail}}</h4></div>
        <div><h4>地址：{{org.address}}</h4></div>
    </div>

    <div id="act_deltail" class="trade" style="flex-direction: column;">
        <h4 style="display: inline">详情</h4><p style="width: 80%">&nbsp&nbsp&nbsp&nbsp{{org.detail}}</p>
    </div>
    <div class="trade" style="justify-content: center">
        <div data-ng-repeat="photo in org.document">

            <img ng-src="{{photo}}" class="act_photo">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">
        返回
    </button>
</div>